body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1500px;
}

form {
  max-width: 300px;
  margin: auto;
  margin-top: 200px;
}

.label-input-cn {
  display: flex;
  flex-direction: column;
}

label {
  font-family: quicksand;
  font-size: 1.4em;
}

input {
  border: none;
  height: 26px;
  margin-bottom: 10px;
  padding: 4px;
  font-size: 1em;
  border-bottom: 2px solid black;
  transition: all 0.5s;
}

input:focus {
  border-bottom: 2px solid #e11d74;
  outline: none;
}

input::placeholder {
  color: rgba(128, 128, 128, 0.199);
}

button {
  background: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
  border: none;
  margin-top: 20px;
  border-radius: 20px;
  height: 32px;
  box-shadow: 4px 4px 6px #b9b9b9;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

button:focus {
  box-shadow: none;
  outline: none;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #e11d74;
  margin-bottom: 0;
  letter-spacing: 2px;
}

hr {
  border: none;
  border-top: 4px dotted black;
  max-width: 400px;
  margin: auto;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.weather-info {
  padding: 0 10px;
  margin: 10px;
  border: 2px solid #e11d74;
  text-align: center;
  margin-bottom: 20px;
}

.current-temp {
  background-color: white;
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  position: relative;
  bottom: 26px;
}

.time {
  margin: 0;
  font-size: 1.3rem;
  color: gray;
}

img {
  filter: drop-shadow(4px 4px 4px rgb(116, 116, 116));
}

.weather-desc {
  font-size: 1.3rem;
  font-family: quicksand;
  font-weight: bold;
}
