body {
  overflow-x: hidden;
  background-color: #010416;
}

.wrapper {
  max-width: 1500px;
}

form {
  max-width: 300px;
  margin: auto;
  margin-top: 200px;
}

.label-input-cn {
  display: flex;
  flex-direction: column;
}

label {
  font-family: quicksand;
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
}

input {
  background-color: transparent;
  border: none;
  height: 26px;
  margin-bottom: 10px;
  padding: 4px;
  font-size: 1em;
  border-bottom: 4px solid #e11d74;
  transition: all 0.5s;
  color: white;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: rgba(128, 128, 128, 0.199);
}

button {
  background: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
  border: none;
  margin-top: 26px;
  border-radius: 20px;
  height: 32px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.2rem;
  font-weight: bold;
}

button:hover {
  box-shadow: none;
  background: linear-gradient(to left, #cc95c0, #dbd4b4, #7aa1d2);
}

button:focus {
  box-shadow: none;
  outline: none;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: white;
  margin-bottom: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

hr {
  border: none;
  border-top: 4px dotted black;
  max-width: 400px;
  margin: auto;
}

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 40px; */
}

.weather-info {
  background-color: white;
  color: #e11d74;
  padding: 0 10px;
  margin: 10px;
  /* border: 2px solid #e11d74; */
  text-align: center;
  /* margin-bottom: 20px; */
  border-radius: 8px;
  box-shadow: 0 0 0px 2px #e11d74;
}

.weather-info:nth-of-type(2n + 1) {
  background-color: black;
  box-shadow: 0 0 0px 2px white;
}

.current-temp {
  /* background-color: white; */
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  position: relative;
  /* bottom: 26px; */
}

.time {
  margin: 0;
  font-size: 1.3rem;
  color: #e11d74;
}

img {
  filter: drop-shadow(4px 4px 4px rgb(90, 90, 90));
}

.weather-desc {
  font-size: 1.3rem;
  font-family: quicksand;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}
