body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1500px;
}

form {
  max-width: 300px;
  margin: auto;
  margin-top: 100px;
}

.label-input-cn {
  display: flex;
  flex-direction: column;
}

label {
  font-family: quicksand;
  font-size: 1.4em;
}

input {
  border: none;
  height: 26px;
  margin-bottom: 10px;
  padding: 4px;
  font-size: 1em;
  border-bottom: 2px solid black;
  transition: all 0.5s;
}

input:focus {
  border-bottom: 2px solid #e11d74;
  outline: none;
}

button {
  background: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
  border: none;
  margin-top: 20px;
  border-radius: 20px;
  height: 32px;
  box-shadow: 4px 4px 6px #b9b9b9;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

button:focus {
  box-shadow: none;
  outline: none;
}
